:root {
  --primary-color: linear-gradient(45deg, rgba(127,170,141,1) 33%, rgba(210,247,223,1) 67%);
  --text-color: #333;
  --button-color: #5E3534;
  --white-color: #fff;
} 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Space Mono", monospace;
  background: var(--primary-color);
  font-size: 15px;
  height: 100vh;
}
.mainheader {
  margin: 5px 10px;
  text-align: center;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.navbar {
  max-width: 300px;
  min-height: 32px;
  border: var(--text-color) solid;
  margin: auto;
  margin-bottom: 3px;
  overflow: auto;
  border-radius: 10px;
  
}
.navbar ul {
  display: flex;
}


.navbar li {
  display: inline-block;
  list-style: none;
}

.navbar li a {
  color: #333;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
}
.navbar li a:hover {
  background-color: var(--button-color);
  color: var(--white-color);
}
.container {
  border: var(--text-color) solid 3px;
  margin: auto;
  height: 60vh;
  max-width: 768px;
  max-height: 600px;
  padding: 5px 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
}

.leftcont {
  border: 1px var(--text-color) solid;
  width: 50%;
  height: 100%;
  border-radius: 5px;
  background: url("../img.jpeg") no-repeat center center/cover;
}
.about {
  font-weight: 700;
  width: 50%;
  height: 100%;
  border: 1px solid var(--text-color);
  padding: 10px;
  margin-left: 12px;
  border-radius: 5px;
}
.about h2 {
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  .container {
    
    flex-wrap: wrap;
  }
  .leftcont{
    margin-top: 5px;
    height: 50%;
    width: 100%;
  }
  .about {
    height: 50%;
    width: 100%;
    margin: 5px 0;
  }
  body {
    font-size: 0.8rem;
  }
  .navbar {
    min-width: 80px;
    min-height: 75px;
    
  }
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }
  
}
.unorderdlist {
  border: var(--text-color) solid 3px;
  margin: auto;
  width: 100vw;
  max-width: 768px;
  border-radius: 5px;
  
}
.unorderdlist ul {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;

}
.unorderdlist ul li {
  width: 30px;
  margin: auto;
  list-style: none;
}
.unorderdlist a {
  text-decoration: none;
  color: var(--button-color);
}
.unorderdlist h3 {
  margin-left: 5px;
}

.ulist {
  margin-left: 30px;
}
